# Carpetas y archivos de desarrollo que NO deben ir al contenedor
.venv/
venv/
__pycache__/
.vscode/
.git/
.gitignore

# Cachés
*.pyc
*.pyo
*.pyd
.Python
*.log

# Modelos o archivos pesados que NO se deben copiar dentro del contenedor
models/
